          *{
        	box-sizing: border-box;
        }

     	body{
     		margin: 0px;
     		border: 0px;
     	}
     	main{
     		background-color: white;
     		/* width: 50%; */
     		/* height: 800px; */
     		margin-right: auto;
     		margin-left: auto;
     	}
     	h1{
     		text-align: center;
     		padding: 10px;
     		
     	}
     	#calc{
     		width: 300px;
     		height: 600px;
     		border: 10px solid black;
     		border-radius: 30px;
     		margin-right: auto;
     		margin-left: auto;
     	}
 	table{
 		text-align: center;
 	}
     /* .formargin{
          margin-top: 20px;
     } */
	.for-input{
          margin-top: 0px;
          width: 275px;
          height: 300px;
          background-color: rgb(1,21,38);
          border: none;
          border-radius: 20px 20px 0 80px;
          font-size: 24px;
          color: white;
          /* padding: px; */

     }
     button:hover{
          background-color: #232023;
     }
    .flex button{
           background-color: rgb(1,15,28);
     }
     .flex button:hover{
          background-color:gray;
     }
     #flow button{
          border-radius: 40px;
          background-color: rgb(1,21,38);
     }
     #flow button:hover{
          background-color: gray;
     }
     button{
          width: 100%;
          font-size: 20px;
          background-color: grey;
          color: white;
          border: none;
          border-radius: 45%;
          padding: 8px;
          margin-top: 10px;  
     }
     .forDisplay{
          background-color: black;
          text-align: right;
          padding-right: 5px;
          font-size: 25px;
     }
     .forDisplay p{
          padding: 3px;
     }